* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImageContainer .profileImage {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid black;
  text-align: center;
}

.infoBox {
  width: 400px;
  border-bottom: 2px solid black;
  text-align: left;
  margin-bottom: 20px;
}

.infoBox p {
  font-size: 15px;
  color: #919191;
}

.userInfo p {
  font-weight: bold;

  color: black;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}


.editimage {
  border: none;
  background-color: transparent;
  position: relative;
  top: -155px;
  left: 95px;
}

.editInputBox {
  width: 400px;
  text-align: left;
  margin-bottom: 100px;

}

.editInputBox p {
  font-weight: bold;
}

.userEditinput {
  display: flex;
  justify-content: space-between;
}


.userEditinput input {
  width: 100%;
  margin: 5px;
  height: 30px;
  padding: 0px 5px;
  border: 2px solid grey;
  border-radius: 3px;
}

.editProfileUpdate {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}


.previewProfilePic {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  margin: auto;
}

.playerProfilePic_home_tile {
  width: 150px;
  height: 150px;
  /* border: 2px solid black; */
  margin: auto;
}

.register_profile_image {
  margin: auto;
  width: 150px;
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .infoBox {
    width: 80%;
  }

  .editInputBox {
    width: 80%;
  }
}