* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImageContainer .profileImage {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid black;
  text-align: center;
}

.infoBox {
  width: 400px;
  border-bottom: 2px solid black;
  text-align: left;
  margin-bottom: 20px;
}

.infoBox p {
  font-size: 15px;
  color: #919191;
}

.userInfo p {
  font-weight: bold;

  color: black;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}


.editimage {
  border: none;
  background-color: transparent;
  position: relative;
  top: -155px;
  left: 95px;
}




@media screen and (max-width: 992px) {
  .infoBox {
    width: 80%;
  }
}